body    {
    font-family: sans-serif;
    margin: 0;
    /* background-color: orange; */
}
.header {
    
}
.nav    {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #aaa;
}
.nav ol li {
    list-style: none;
    margin: 10px;
    float: left;
}
.nav ol li a {
    color: black;
    text-decoration: none;
}
.nav ol li input  {
    background: none;
    border: none;
}
.nav ul {
    /* width: 50%; */
    height: 100%;
    /* background-color: white; */
}
.nav ul li  {
    padding: 10px;
    list-style: none;
    /* margin: 10px; */
    float: right;
}
.nav ul li input    {
    border-radius: 10px;
    border: 1px solid white;
    /* background-color: red; */
    padding: 7px;
}
/* @media(min-width:320px;){
    .nav ul li input {
        width: 300px;
        
    }
} */
.nav ul li input:focus {
    outline: none;
}
.tombol_atas {
    color: black;
    text-decoration: none;
    padding: 20px 10px;
    /* background-color: white; */
}
.tombol_atas img {
    width: 30%;
    height: 30%;
}
.conten_atas img {
    width: 100%;
}
.conten_bawah   {
    margin-top: 200px;
    display: flex;
    /* width: 100%; */
    height: 400px;
    /* background-color: black; */
}
.conten_bawah_teks {
    padding: 80px;
    float: right;
    width: 20%;
    color: #aaa;
    border: 1px solid white;
    text-align: justify;
}
.conten_bawah_gambar img  {
    width: 73%;
    height: 100%;
}
.conten_mid {
    display: flex;
    /* margin: 10px 0px; */
    height: 400px;
    /* background-color: black; */
}
.conten_mid img {
    float: right;
    width: 65%;
    height: 100%;
}
.conten_mid_teks    {
    padding: 80px;
    float: left;
    width: 40%;
    color: #aaa;
    border: 1px solid white;
    text-align: justify;
}
.footer {
    height: 400px;
    background-color: black;
}
.input  {
    width: 30%;
    padding: 20px 60px;
    /* background-color: black; */
}
.footer h2  {
    color: #B9874C;
}
.footer p {
    width: 100%;
    font-size: 14px;
    text-align: justify;
    color: white;
}
.inputan_m input    {
    border-radius: 2px;
    margin: 3px 0px;
    width: 100%;
    padding: 10px;
    color: #999999;
    border: none;
    background-color: #434343;
}
.submit_kan {
    border-radius: 3px;
    padding: 13px;
    border: 1px solid #B9874C;
    color: #B9874C;
    background-color: black;
}
.inputan_m input:focus  {
    /* outline: none; */
    /* border: 1px solid #B9874C; */
}
.inputan_m input:focus  {
    width: 250px;
    outline: 1px solid #B9874C;
}
.submit_kan:focus   {
    -moz-outline-radius: 3px;
    outline: 1px solid #B9874C;
}