body {
	font-family:calibri;
}
.nav{
    overflow: hidden;
}
.right{
    float: right;
    margin: 5vh 3vw 3vw 0;
}
.right a{
    margin-right: 2vw;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color : black;
}
.logo{
    margin-top: 2vh;
    width: 75%;
    max-width: 200px;
    margin-left: 3vw;
}
.kotak {
    border : 2px solid white;
    border-radius: 10px;
    margin: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;

}

.kotak2{
	vertical-align:top;
}
.kotak form {
    padding: 2vh;
    margin : auto;
}

#panel,#panel2, #flip, #flip2 {
    padding: 15px;
    text-alin: center;
    background-color: #ca6a39;
    border: solid 1px white;
	color: white;
	border-radius: 10px;

}
#panel, #panel2 {
    padding: 20px;
    display: none;
	color: white;
}
.button{
    font-family: calibri;
    font-weight: bold;
    padding: 1.5vh;
    color : white;
    background-color: #af4f29;
    font-size: large;
}

.button:hover {
    background-color: #330902;
}
.button2{
    font-family: calibri;
    font-weight: bold;
    padding: 1.5vh;
    color : white;
    background-color: #af4f29;
    font-size: large;
}

.button2:hover {
    background-color: #330902;
}

.kodebayar{
	display:none;
}
.login-tengah {
    margin-top: 7vh;
   text-align: center;
}
.catatan {
	text-align: left;
}
