body    {
    font-family: calibri;
}
.login-tengah {
    margin-top: 7vh;
   text-align: center;
}
.kotak {
    border : 2px solid white;
    border-radius: 10px;
    margin: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.kotak form {
    padding: 2vh;
    margin : auto;
}
input {
    margin-left: 10%;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white; 
    border-bottom: 1px solid grey;
    margin-top: 3vh;
    width: 80%;
    padding: 1vh;
    outline: none;
}
.biru{
    text-align: center;
}
.submit{
    font-family: calibri;
    font-weight: bold;
    padding: 1.5vh;
    color : white;
    background-color: #af4f29;
    font-size: large;
} 
.submit:hover {
    background-color: #330902;
}